<h1>Editing admined_page1</h1>

<%= render 'form' %>

<%= link_to 'Show', @admined_page1 %> |
<%= link_to 'Back', admined_page1s_path %>

<div id="log_out_link_id">
  <%= link_to "Log out", log_out_path %>
</div>
