@import "colors";
@import "fonts";
@import "margins";
@import "widths";

/* ============ Start _body ================================================== */

body {
  margin:$margin0;
  padding:0;
  border:0;	/* This removes the border around the viewport in old versions of IE */
  width:$fullWidth;
}

body {
  font-size:$max-font; /* was 90% */
  background:$palette-color1;
}

/* ============ Start _body ================================================== */
