@import "colors";
@import "margins";
@import "widths";
@import "rounded";

/* ============ Start _centeredMenu ========================================== */

#page1   li.page1 a,
#page2   li.page2 a,
#page3   li.page3 a,
#page4   li.page4 a{
	background:$palette-color3;
	color:$palette-color1;
        @include myrounded;
}
        
#centeredmenu {
   float:left;
   width:100%;
   background:$palette-color1;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:$palette-color1;
   color:$palette-color3;
   text-decoration:none;
   line-height:1.3em;
}

#centeredmenu ul li a:hover {
   background:$palette-color3;
   color:$palette-color1;
   @include myrounded;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:$palette-color3;
   background:$palette-color1;
   font-weight:bold;
   @include myrounded;
}

/* ============ End   _centeredMenu ========================================== */
