/*********************************************************
**
** Colors
**
*********************************************************/
$palette-color1:#f5e6ec; /* Light Pink*/
$palette-color1o:#e6f4ef; /* Light green, opposite 1*/

$palette-color2:#fff;    /* White*/
$palette-color2o:#000;   /* Black*/
$palette-color3:#9d0054; /* Dark Purple*/
$palette-color3o:#000000;

$p-testcolor1:red;
$p-testcolor2:green;

$p-color:#666666;
$h-color:$palette-color3;
