/* column container */
.colmask {
  position:relative;	/* Fixes  IE7 overflow bug & stops the layout jumping out of place */
  clear:both;
  float:left;
  width:98%;		/* width of whole page */
  overflow:hidden;	/* This chops off any overhanging divs */
	}

