/* ============ Start _columnCommon ========================================== */

@import "widths";

.colright,
.colmid,
.colleft {
  float:left;
  width:$fullWidth;
  position:relative;
}

.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;
  overflow:hidden;
}

/* ============ End   _columnCommon ========================================== */
