/*********************************************************
**
** Colors
**
*********************************************************/
$palette-color1:#f5e6ec; /* Light Pink*/
$palette-color1o:#e6f4ef; /* Light green, opposite 1*/

$palette-color2:#fff;    /* White*/
$palette-color2o:#000;   /* Black*/
$palette-color3:#9d0054; /* Dark Purple*/
$palette-color3o:#000000;

$p-testcolor1:red;
$p-testcolor2:green;

$p-color:#666666;
$h-color:$palette-color3;


/*********************************************************
**
** Fonts
**
*********************************************************/
$max-font:100%;

$h1-size:100%;/*0.750em;*//*12px;*/
$h2-size:95%;/*0.875em;*//*14px;*/
$h3-size:90%;/*0.750em;*//*12px;*/

$p-size:80%;/*0.750em;*//*12px;*/

$default-size:80%;/*0.750em;*//*12px;*/

@mixin font-style{
  font-family:Arial, Helvetica, sans-serif;
}

/*********************************************************
**
** Margins
**
*********************************************************/
$margin0:0px;
$margin1:15px;

/*********************************************************
**
** Widths
**
*********************************************************/
$whole-page:100%;
$margin-width:15px;
$wallpaper-width:197px;
$col2Right-width:212px;/*$wallpaper-width +$margin-width;*/
$col1wrapRight-width:227px;/*$wallpaper-width + $margin-width + $margin-width;*/
$colright-width:227px;/*$col1wrapRight-width;*/
