/* ============ Start _fonts ================================================== */

$max-font:100%;

$h1-size:100%;/*0.750em;*//*12px;*/
$h2-size:95%;/*0.875em;*//*14px;*/
$h3-size:90%;/*0.750em;*//*12px;*/

$p-size:80%;/*0.750em;*//*12px;*/

$default-size:80%;/*0.750em;*//*12px;*/

@mixin font-style{
  font-family:Arial, Helvetica, sans-serif;
}

/* ============ End   _fonts ================================================== */
