@import "colors";
@import "fonts";
@import "widths";

/* ============ Start _header ================================================ */

#header {
  clear:both;
  float:left;
  width:$fullWidth;
}

/* ============ End   _header ================================================ */
