/* ============ Start _images ================================================ */

img {
  margin:10px 0 5px;
}

.header_img {
  display:block;
  float:right;
  position:relative;
/*  padding-top:8px;*/
  right:0%;
  width:40%; /* control the size of the image. */
  height:auto;
  -ms-interpolation-mode: bicubic;
  border:0;
}

.logo_img {
  display:block;
  float:left;
  position:relative;
  right:0%;
  width:6%; /* control the size of the image. */
  height:auto;
  -ms-interpolation-mode: bicubic;
  border:0;
  padding-right:2%;
  padding-left:2%;
  /*padding-top:15px;*/
}

.logo_print_img {
  display:block;
  float:left;
  position:relative;
  right:0%;
  width:12%; /* control the size of the image. */
  height:auto;
  -ms-interpolation-mode: bicubic;
  border:0;
  padding-right:15px;
}

.info_img {
  display:block;
  float:left;
  position:relative;
  right:0%;
  width:30%; /* control the size of the image. */
  height:auto;
  -ms-interpolation-mode: bicubic;
  border:0;
  padding-right:15px;
}

.keb {
	display:block;
	float:right;
	position:relative;
	right:1%;
	width:100%;
	height:auto;
	-ms-interpolation-mode: bicubic;
	border:0;
}

/* ============ End   _images ================================================ */
