@import "widths";

/* ============ Start _leftMenu ============================================== */

/* 2 Column (left menu) settings */

$rightColumnWidth:80%;
$leftColumnWidth:20%;

$rightColumnContentWidth: $rightColumnWidth - $paddingWidth - $paddingWidth;
$leftColumnContentWidth:  $leftColumnWidth - $paddingWidth - $paddingWidth;
$leftColumnContentOffset: $paddingWidth + $paddingWidth + $paddingWidth;



.leftmenu {
  /*background:red;*/		/* right column background colour */
}

.leftmenu .colleft {
  right:$rightColumnWidth;		/* 86% 75% right column width */
  /*background:green;*/	/* left column background colour */
}

.leftmenu .col1 {
  width:$rightColumnContentWidth;		/* 82% 71% right column content width */
  left:$fullWidth + $paddingWidth;		/* 102% plus left column left padding */
  /*background:blue;*/
}

.leftmenu .col2 {
  width:$leftColumnContentWidth;		/* 10% 21% left column content width (column width minus left and right padding) */
  left:$leftColumnContentOffset;		/* 6% (right column left and right padding) plus (left column left padding) */
  /*background:yellow;*/
}
        
/* ============ End   _leftMenu ============================================== */
