@import "colors";
@import "fonts";
@import "widths";

/* ============ Start _paras ================================================= */

p {
  text-decoration: none;
  padding:0;
  margin:.4em 0 .8em 0;
/*  margin: 0 0 10px 0;*/
  line-height: 18px;
}

p {
  font-size: $p-size;
  @include font-style;
  color:$p-color;
}

#header p, #printLogo p {
  padding:1em 15px 0 15px;
  margin:$margin0;
  font-size:$h1-size;
  font-weight:bold;
  @include font-style;
  background:$palette-color1;
  color:$palette-color3;

}
/*
set up a new para instead of original h2, so i can use h1,h2,h3,h4 and not h1,h3,h4.

*/
/* ============ End   _paras ================================================= */

