/*********************************************************
**
** Widths
**
*********************************************************/
$whole-page:100%;
$margin-width:15px;
$wallpaper-width:197px;
$col2Right-width:212px;/*$wallpaper-width +$margin-width;*/
$col1wrapRight-width:227px;/*$wallpaper-width + $margin-width + $margin-width;*/
$colright-width:227px;/*$col1wrapRight-width;*/
