// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* <!-- */
@import "body";
@import "headers";
@import "paras";
@import "header";
@import "images";
@import "footer";
@import "centeredmenu";
@import "columnCommon";
@import "leftMenu";


#headerPrint{
  display : none; 
}

/* General styles */
a {
  color:#369;
}

a:hover {
  color:#fff;
  background:#369;
  text-decoration:none;
}
